@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;

@layer base {
	body {
		font-family: "Poppins", sans-serif;
	}
}

@layer components {
	/* navbar */
	.navbar {
		@apply fixed flex gap-3 bg-background-800 shadow-md
			top-0 w-screen h-20 flex-row px-5 md:px-0 place-items-center
			md:w-20 md:h-screen md:flex-col md:items-center md:pt-5;
	}

	.navbar-icon-container {
		@apply flex flex-row md:flex-col h-full md:w-full justify-center md:justify-start md:py-2;
	}

	.navbar-icon {
		@apply relative py-4 w-20 md:w-full h-full 
			md:h-20 select-none hover:cursor-pointer 
			hover:bg-background-900 grid place-content-center;
	}

	/* navbar-tooltip (starts with scale-0) */
	.navbar-tooltip {
		@apply absolute w-auto p-2 min-w-max left-1/2 -translate-x-1/2 
			top-24 md:left-32 md:top-5 rounded-md shadow-md text-white bg-neutral-700 
            text-sm font-bold transition-all duration-100 scale-0 origin-left;
	}

	.card {
		color: rgb(255, 255, 255);
  		text-decoration: none;
  		background-color: #fa320a;
  		border: 3px #fa320a solid;
  		font-weight: bold;
  		cursor: pointer;
  		transition: 0.5s;
	}
}

@tailwind utilities;
